.layout {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas: 'header header' 'sidebar stickies' 'footer footer';
    min-height: 100vh;
}

.stickies {
    background: yellow;
    grid-area: stickies
}

.header {
    grid-area: header;
    background: #333;
}
.footer {
    grid-area: footer;
    background: #333;
}
.sidebar {
    grid-area: sidebar;
    background: #ccc;
}